*.ai

assets/images/Screenshot_20251216_191319_Samsung Notes.jpg
assets/svg/Project 9 (20251218102259).svg
assets/svg/Project 9_1 (20251223125941).svg
assets/svg/db-bracket.html

*/dev
*_dev*

log.txt

projectManagement
components
engine
screens