body {
    background-color: black;
    color: white;
}

ul {list-style: none;}

#battleships-subhead {
    font-size: 24pt;
    text-align: center;
    margin-bottom: 2em;
}

#menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    margin:0 auto;
    padding:0;
    width:900px;
    text-align: right;

    li {cursor: pointer;}
}

.expandable-menu-wrapper {
    display:block;
    overflow-x:hidden;
    height:1.25em;
    width: 100%;
    
    & div {
        list-style: none;
        display: inline-flex;
        justify-content: flex-start;
        gap: 1em;
        width:0%;
        height:0;
        padding: 0;
        transition: 
            width 500ms ease-out,
            height 100ms;
        
    }
}

#menu span:hover {
    color: var(--gold);
}

.expand {
    width:70% !important;
    height:100% !important;
}

#settings-panel {
    & label {
        font-weight: 200;
        & strong {font-weight:800;}
        & input[type=number] {
            background: var(--midnight);
            color:white;
            border:none;
            margin:0 0.5em;
        }
    }
}

#registration-modal {
    position:absolute;
    inset:0
}

#registration-modal {
    width:980px;
    border: 1px solid var(--gold);
    background: var(--dblue-steelblue);
    color:white;
    padding:3em;
    box-shadow: 0 0 30px #023a;
    height:max-content;

    display:flex;
    flex-direction: column;
    justify-self: center;
    justify-content: flex-start;
    gap:2em;

    & h1 {color:var(--cyan);}
    & h2 {color:var(--dustycyan);}

    & input[type=text], input[type=password] {
        width:100%;
        height:3em;
        background-color: var(--midnight);
        font-weight: 500;
        color:white;
        border:.5px solid var(--gold);
        padding:3px 6px;
        margin:6px 0 18px 0;
    }

    #modal-user-info label span {
        font-size: 10pt;
        font-weight: 300;
        color: #999;
    }

    #modal-choose-side > div {
        display:flex;
        flex-direction: row;
        justify-content: center;
        gap: 20%;

        & div input[type=radio] {display:none;}
        & div {padding:1em;border-radius: 3px;}
        & div:has(input[type=radio]:checked) {
            border: 1px solid var(--gold);
        }

        & > div:nth-child(1) > label:nth-child(5) > img {
            width:80px;
        }
    }

    & button {height:4em;border: none;width:100%}
    /* & button:hover {cursor:pointer;} */

    .flex-row {
        display:flex;
        flex-direction:row;
        gap:1em;
    }
}