/* GLOBAL STYLES*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;

    --dblue: #000124;
    --steelblue: #003c5f;
    --cyan: rgb(0, 195, 255);
    --lcyan: #8bf;
    --dustycyan: rgb(100, 175, 205);
    --gold: #f9c31b;
    --dgold: #c9a300;
    --sdgold: #996306;
    --blue: #13f;
    --lblue: #37f;
    --midnight: #0f1e2f;
    --red: #f00;
    --lred: #f88;

    --dblue-steelblue: linear-gradient(to bottom right, var(--dblue), var(--steelblue));

    font-family: Montserrat, Arial, sans-serif;
}

/* COLORWAYS */
.red {background-color:var(--red) !important;color:white !important;}
.midnight {background-color:var(--midnight) !important;color:white !important;}
.dblue {background-color:var(--dblue) !important;color:white !important;}
.steelblue {background-color:var(--steelblue) !important;color:white !important;}
.blue {background-color:var(--blue) !important;color:white !important;}
.cyan {background-color:var(--cyan) !important;color:var(--dblue) !important;}
.gold {background-color:var(--gold) !important;}

/* STYLES */
.hide {display: none !important;}
.show {display: block !important;}

.tile-btn {
    border:none;
    padding:3px;
    width:175px;
    height:60px;
}
.tile-btn-mini {
    border:none;
    padding:3px;
    width:120px;
    height:45px;
}

.tile-btn.active {
    pointer-events: all;
    opacity: 1;
}

.tile-btn.active:hover {
    cursor:pointer;

    &::before {
        content:"";
        position: absolute;
        width:175px;
        height:60px;
        background-color: #fff2;
        transform: translate(-57px, -22px);
    }
 }

.tile-btn.disabled {
    pointer-events:none;
    opacity: 0.5;
 }

 .textbox {
    width:100%;
    height:3em;
    background-color: var(--midnight);
    font-weight: 500;
    color:white;
    border:.5px solid var(--gold);
    padding:3px 6px;
    margin:6px 0 18px 0;
}

nav {
    position:absolute;
    top:0;right:0;
    z-index: 20;
    background-color: black;
    font-family: monospace;
    border-radius: 6px;
    padding: 5px;
    color:white;

    & a {color:white;}
    & a:visited {color:white;}

    & ul {display:none;}
    & input:checked ~ ul {display:block;}
    & input {display: none;}

    &::before {content:"▶️ ";}
    & input:checked ~ &::before {content:"🔽 ";}
}