* {
    box-sizing: border-box;
}
body {
    width:100vw;
    height:100vh;
    margin:0 auto;
    background-color: var(--midnight);
    color: aliceblue;
    background-image: url("../../assets/svg/inverse-brackets.svg");
    background-size: stretch;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}

main {
    width:80vw;
    height:70vh;
    background-color: var(--midnight);
    border: 4px solid var(--gold);
    overflow-y: scroll;
    box-shadow: 0 0 50px #8504;

    & #content {
        min-width:360px;
        width: 90%;
        margin: 0 auto;
        padding-bottom:4em;
    }
}

@media (max-width: 1399px) {
    #button-col {
        position: absolute;
        margin-top:0.5%;
        width: 10vw;
        height:70vh;
        left: 1%;
        display: flex;
        flex-direction: column;
        justify-self: space-between;
        /* transform: translateX(-50%); */
        gap:1em;

        & > div {
            width:100%;
            height: 80px;
            display:grid;
            grid-template: auto / 4fr 1fr;
            gap: 6px;
            z-index: 10;

            & div:nth-child(1) {width:100%;height:100%;background-color: var(--blue);}
            & div:nth-child(2) {width:100%;height:100%;background-color: var(--dblue);}
        }
    }
}

@media screen and (min-width: 1400px) {
    main {
        height: 72vh;
        overflow-y:none;

        & #content {
            width: 100%;
            height:100%;
            overflow-y:none;
            display: grid;
            grid-template: 
                ". text image" 1fr 
                ". text prompts" 1fr / 10% 1.25fr 1fr;
            gap: 1em;
            padding:1em;
        }

        & #prompt-text {
            grid-area:text;

            & > p {height:calc(100% - 4.2em);
                position:relative;
                overflow-y: scroll;
            }
        }

        & #prompt-response {grid-area:prompts;}
    }

    #button-col {
        position: absolute;
        margin-top:0.5%;
        width: 200px;
        height:68vh;
        display: flex;
        flex-direction: column;
        justify-self: space-between;
        transform: translateX(-110px);
        gap:1em;

        & > div {
            width:100%;
            height: 80px;
            display:grid;
            grid-template: auto / 4fr 1fr;
            gap: 6px;
            z-index: 10;

            & div:nth-child(1) {width:100%;height:100%;background-color: var(--blue);}
            & div:nth-child(2) {width:100%;height:100%;background-color: var(--dblue);}
        }
    }
}

ul {padding-inline-start:0;padding:12px}
li {
    color:black;
    list-style:none;
    
    & label {
        display:grid;
        grid-template:"pill prompt" auto / auto 1fr;
        gap:6px;
    }

    & input[type=radio] {display:none;}

    & div {
        display:inline-block;
        padding:12px 6px;
    }

    & .pill {
        grid-area:pill;
        width:25px;
        border-radius:3px;
        text-align: center;
        margin:6px; margin-right:0;
    }
    
    & .option-text {
        grid-area:prompt;
        background-color: var(--dustycyan);
        margin: 6px;
    }
}

li:hover .option-text {background-color: var(--blue);cursor:pointer;}
li:has(input[type=radio]:checked)  {border:1px solid var(--gold)};

.easter {position:relative;}
.easter:hover {
    cursor: help;

    &::before {
        content:"";
        position: absolute;
        width:155px;
        height:calc(70vh * 78% / 10);
        background-color: #fff2;
        font-size: 8pt;;
        z-index:20;
    }

    &#new-outcome::before {content:"Easter Egg Found! Click for a new outcome, only after choice > continue.";}
    &#back-to-bridge::before {content:"  << Back to The Bridge";}
}