:root{overflow:none;}
body {
    margin:0;
    background: var(--sdblue);
    background-size:cover;
    width:100vw;
    height:100vh;
    color:white;
}

.clickable:hover {cursor:pointer;}
.show {display:block;}
.hide {display:none;}

main {
    pointer-events: all;
    position: absolute;
    width:100vw;
    height:100%;
    z-index: 10;
    display: grid;
    grid-template:
        ". . . ." 10%
        ". p1 p2 . " 60%
        ". . . . " 30% / 1fr 2fr 2fr 1fr;

    #p2-board, #p1-board {
        position: relative;
    }
    #p1-board {grid-area:p1;}
    #p2-board {grid-area:p2;}

    .rotate {scale: 93%;}
    #p1-board.rotate {transform:rotate(90deg) translateY(-20px);}
    #p2-board.rotate {transform:rotate(-90deg) translateY(-20px);}
}
@media screen and (max-width: 1190px) {
    .active-board {display:grid;}
    main {
        grid-template:
        ". . ." 9%
        ". p2 . " 60%
        ". . . " 30% / 1fr 2fr 1fr;
    }
}

#db-text-overlay {
    pointer-events: all;
    position: absolute;
    inset:0;
    width: 100vw;
    height: 77vh;
    z-index: 2;
    margin-top:15px;
    padding:0 1%;
    display: grid block;
    grid-template-columns: 15% 13% auto 13% 15%;
    grid-template-rows: calc((50px - 1em) * 0.8) calc(31% - 50px) 36% 30%;
    gap: 1em 2em;
    grid-template-areas:
        "p1-summary . header . p2-summary "
        "p1-summary . . . p2-summary"
        "p1-ships . . . p2-ships"
        "p1-status . notif . p2-status";
    color:var(--midnight);

    & .header {
        grid-area: header;
        font-size: 32pt;
        transform:translateY(-4pt);
        margin-left:.5vw;
        color:white;
    }
}

#db-logotype {
    grid-area:notif;
    position:absolute;
    width:40%;
    bottom:0;
    left:50%;
    transform:translate(-50%,-250%);
    opacity: 0.8;
}

#notification {
    grid-area: notif;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    pointer-events: none;

    & h4 {margin:6px;}
    & div {
        background-color: var(--gold);
        width:80%;
        margin-bottom:1em;
        text-align:center;
        padding:0.5em;
        border-radius: 3px;
        border:1px solid black;
        opacity:0;
        transition: opacity 1s ease-in-out;
    }
}
.show-notify {opacity:1;}
.hide-notify {opacity:0;transition:opacity 2s ease-out;}

#p1-summary-text-overlay {grid-area:p1-summary;}
#p2-summary-text-overlay {grid-area:p2-summary;text-align: right;}

.summary-text-overlay {
    overflow:hidden;
    height:97%;
    padding:1% 2%;
}
.summary-text-overlay ul {
    list-style: none;
    overflow:scroll;
    padding:0;
    height:70%;
    width: 100%;
    scrollbar-width: none;


    & h3 {margin-top:6px;}
}

.info-list-node {
    display:grid;
    grid-template: auto / 20px 10fr 1fr;
    padding: 0 .5em;
    font-weight:500;
    font-size:0.8em;
    line-height: 1.5em;

    & .pill {height:1em; width:1em;}
    & span {font-weight:900;}
    & img {height:1.5em;}
}

.ships-text-overlay {
    height:96%;
    & div {
        position:relative;
        padding: 1%;
        color:var(--midnight);
    }
}

#p1-ships-text-overlay {
    grid-area:p1-ships;
    text-align: left;

    & .ships {
        display: grid;
        grid-template: 25% 23% 22% 15% 15% / auto;
        height: 98%;

        & .placed-ship svg {opacity:0.5;}
        & svg {
            fill: var(--sdblue);
            height:100%;
            pointer-events: none;
        }
    }

    & .ships.enemy {
        & #borgCube-svg {height:100%;}
        & #capitalShip-svg {height:100%;}
        & #bird-of-prey-svg {height:100%;}
        & #mars-shuttle-svg {height:95%;}
        & #snakehead-svg {height:80%;}
    }

    & .ships.starfleet {
        & .ship svg {rotate: 180deg;}
        & #enterprise-svg {height:100%;}
        & #titan-svg {height:100%;}
        & #wallenberg-svg {height:100%;}
        & #lasirena-svg {height:100%;}
        & #shuttle-svg {height:70%;}
    }

    & #p1-ships-btn {transform:translate(5.5vw, -130%);}
}


#p2-ships-text-overlay {
    grid-area:p2-ships;
    text-align: right;

    & .ships {
        display: grid;
        grid-template: 25% 23% 22% 15% 15% / auto;
        height: 98%;

        & svg.placed-ship {opacity:0.5;}
        & svg {
            fill:var(--sdblue);
            height:100%;
            pointer-events: none;
        }

        &.starfleet {
            & #enterprise-svg {height:100%;}
            & #titan-svg {height:100%;}
            & #wallenberg-svg {height:100%;}
            & #lasirena-svg {height:100%;}
            & #shuttle-svg {height:70%;}
        }

        &.enemy {
            & #borgCube svg {rotate: 0deg;}
            & .ship svg {rotate: 180deg;}
        }
    }

    & #p2-ships-btn {transform:translate(-130px, -130%)}
}

#p1-status-text-overlay {
    grid-area:p1-status;
    text-align: left;
}

#p2-status-text-overlay {
    grid-area:p2-status;
    text-align: right;
}


.targeting-panel {
    display: grid;
    grid-template: 15% 17% 16% 16% 16% 16% / auto;
    height: 95%;
    padding:1% 3%;

    & svg {
        fill: var(--sdblue);
        pointer-events: none;
    }

    & h4 {
        margin:0;
        line-height:1em;
    }

    & .targeting-group {
        display:flex;
        gap:2em;

        & .weapons {
            margin: 0 24px;
            display:grid;
            grid-template: auto / 1fr 1fr;
            gap: 6px;

            & div[title="phaseCannon"] {display:none;}
        }
        & div svg {height:70%;}
    }


    & .weapon-symbol svg {height:100%;fill:var(--sdblue);}
    & .weapon-symbol:hover svg {cursor:pointer;fill:var(--dgold);}

    & .selected-weapon svg {fill:var(--blue); opacity:1;}
    & .depleted-weapon svg {fill:var(--midnight); opacity:0.4;}
    & .maxed-weapon svg {fill:var(--red); opacity:0.5;}

    & .weapon-symbol.selected-weapon::before {
        content: attr(data-before);
        background-color: var(--blue);
        color:white;
        border-radius: 50%;
        text-align:center;
        font-size:10pt;
        width:1em;
        transform:translate(-50%,-50%);
        aspect-ratio: 1/1;
        position:absolute;
    }
    & .weapon-symbol.maxed-weapon::before {
        background-color:var(--red);}
    & .weapon-symbol.depleted-weapon::before {
        background-color:var(--midnight);}
}

#p1-status-text-overlay .targeting-group {
    flex-direction: row;
}
#p2-status-text-overlay .targeting-group {
    flex-direction: row-reverse;
}
#p1-status-text-overlay .starfleet .ship svg {rotate: 180deg;}
#p2-status-text-overlay .enemy .ship svg {rotate: 180deg;}

.targeting-panel.enemy {
    & #borgCube-svg {height:100%;}
    & #capitalShip-svg {height:100%;}
    & #bird-of-prey-svg {height:100%;}
    & #mars-shuttle-svg {height:95%;}
    & #snakehead-svg {height:80%;}
}

.targeting-panel.starfleet {
    & .ship svg {rotate: 180deg;}
    & #enterprise-svg {height:100%;}
    & #titan-svg {height:100%;}
    & #wallenberg-svg {height:100%;}
    & #lasirena-svg {height:100%;}
    & #shuttle-svg {height:70%;}
}


#db-grid-container {
    position:relative;
    background: var(--sdblue-steelblue);
    background-size:cover;
    display: grid;
    width: 100vw;
    height: 98vh;
    margin:0 auto;
    border-radius:0 0 8em 0;
    grid-template-areas: "top" "bottom";
    grid-template-rows: 80% auto;

}

#bracket-container {
    display: relative;
    padding:1em;
    grid-area: top;
    display:grid;
    grid-template-columns: 15% 15% auto 15% 15%;
    grid-template-rows: 30% auto 30%;
    gap: 1em;
    grid-template-areas:
        "p1-summary p1-summary . p2-summary p2-summary"
        "p1-ships board board board p2-ships"
        "p1-status p1-status . p2-status p2-status";
    opacity:75%;


}
.db-bracket {
    background: var(--cyan);
    & svg {fill:var(--cyan);z-index:0;}
}

#brkt-offence-summary {grid-area: p1-summary;background: transparent;}
#brkt-p1-ships {grid-area: p1-ships;}
#brkt-p1-stats {grid-area: p1-status;background: transparent;}
#brkt-defence-summary {grid-area: p2-summary;background: transparent;}
#brkt-p2-ships {grid-area: p2-ships;}
#brkt-p2-stats {grid-area: p2-status;background: transparent;}


#db-controls-grid {
    grid-area:bottom;
    display: grid;
    padding:0.5% 1%;
    grid-template:"left center right" 17vh / 1.75fr 1.25fr 1.75fr;


    .db-controls {
        display:flex;
        flex-wrap: wrap;
        width:100%;
        position:relative;
        gap: 1em 3em;
    }

    #attack-controls {
        grid-area: left;
        justify-content: flex-start;
    }

    #game-controls {
        grid-area: right;
        justify-content: flex-end;
    }

    & .center {
        grid-area:center;
        display:grid;
        height:100%;
        gap: 1em;
        grid-template: 33.33% / 1fr 1fr;

        & .status-list-item {
            display:grid;
            grid-template:
            "pill title opt" 1fr
            "pill resp opt" 1fr / auto 2fr auto;
            gap:6px;
            height:50px;
            font-size: 10pt;
            position: relative;

            & .pill {
                grid-area:pill;
                display:inline-block;
                width:20px;
                border-radius:3px;
                text-align: center;
                padding-top: 2px;
            }
            & .title {font-size:1em;font-weight:500;grid-area:title;}
            & .response {font-size:.8em;grid-area:resp;}
            & .opt {font-size: 2em;padding-top:0.4em;grid-area:opt;}
        }
    }

}

#pause-menu ul {
    list-style: none;
    text-align:left;

    & li input[type=checkbox] {
        accent-color: var(--dblue);
        border:none;
        margin: 0 6px;
    }
}
