* {
    --label-extents: 15px;
}
.show {display:block;}
.hide {display:none;}

.Board {
    /* margin: .5em; */
    margin:0 auto!important;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template:
        ". t-rows ." var(--label-extents) 
        "m-rows-l m-board m-rows-r" 100%
        ". b-rows ." var(--label-extents) / var(--label-extents) auto var(--label-extents);
    color: white;
    /* border:1px solid green; */
    z-index:0;
    /* opacity:0; */
}

.Board-grid-container {
    position: relative;
    /* aspect-ratio: 1/1; */
    height: 100%; 
    grid-area: m-board;
    border: 4px solid var(--cyan);
    border-radius: 6px;
    display:flex;
    flex-direction:column;
    justify-content: stretch;
    align-items: stretch;
    z-index:0;
}

.Board.active-mode .Board-grid-container {border: 4px solid var(--dgold);}
.Board.subspace-mode {
    & .board-row {background-color:#0125;transition:background-color 400ms;}
    & .cell {border: 1px solid #0025;transition:border 400ms;}
}


.board-row {
    margin: 0;
    padding: 0;
    z-index:0;
    position: relative;
    flex-grow: 1;

    & div {
        margin: 0;
        padding: 0;
        border: .5px solid var(--steelblue);
        display: inline-block;
        position: relative;
        width: calc(100% /26);
        height:100%;
        font-size: 3px;
        /* aspect-ratio: 1/1; */
        text-align: center;
        vertical-align: middle;
        /* color:transparent; */
    }
    line-height: 0;

    &:hover {cursor: cell;}
    & .hover-cell:hover {
        background-color: #fff1;
    }
}

.hoverCell {background-color: var(--cyan);}
.hoverCell:hover {background-color: var(--lcyan) !important;}
.activeCell {background-color: var(--blue);}
.committedCell {background-color: var(--blue);transition:background-color 400ms;}
.committedCell:hover {background-color: var(--lcyan) !important;}
.impededCell {background-color: var(--red);}
.forbiddenCell {background-color: var(--red);} 
.targetedCell {
    border: 1px solid var(--lred);
    background-color: var(--lred);
    transition:background-color 200ms;
    &:hover {background-color:#b00 !important;}
}

.hitCell {background-color: #0fc;transition:background-color 800ms;}
.missCell {background-color: #fffb;transition:background-color 800ms;}
.hitCell::before, .missCell::before {
    font-size:7pt;
    font-weight:600; 
    color:black; 
    top:50%; 
    height:1em; 
    aspect-ratio:1/1; 
    position:relative; 
    z-index:2; 
}
.hitCell.photonTorpedo::before {content:"PT";}
.missCell.photonTorpedo::before {content:"PT";}
.hitCell.phaseCannon::before {content:"PC";}
.missCell.phaseCannon::before {content:"PC";}

.Board header, .Board footer {
    font-size: 0.5em;
    margin: 0;
    padding: 0;
    z-index:0;

    & div {
        display: inline-block;
        /* border:1px solid black; */
        width: calc(100% /26);
        /* aspect-ratio: 1/1; */
        text-align: center;
    }
}

.Board header {grid-area: t-rows;}
.Board footer {grid-area: b-rows;}

.Board aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    height: 100%;
    width: var(--label-extents);
    font-size: 0.5em;
    color:var(--gold);
    z-index:1;

    & div {
        display: block;
        /* border:1px solid black; */
        width: 100%;
        /* aspect-ratio: 1/1; */
        text-align: center;
        /* vertical-align: middle; */
    }
}

.targeting-brackets {
    position: absolute;
    transform: translate(-50%, -65%);
    pointer-events: none;
    /* border: 1px solid red; */
    z-index:1;
    opacity: 0.5;
    
    & svg {
        fill: var(--cyan);
        aspect-ratio: 1/1;
        /* width: clamp(200px, 400px, max(50vh, 50vw)); */
        width: 400px;
    }
    
    & .bracket-node {
        position:absolute;
        width: 100px;
        height: 40px;
        transform: translate(-90%, 100px);
        background-color: var(--cyan);
        clip-path: polygon(0 2px, 2px 0, 38px 0, 40px 2px, 40px 18px, 100% 36px, 100% 38px, 40px 22px, 40px 38px, 38px 40px, 2px 40px, 0 38px);
        vertical-align: middle;
        padding-top:.7em;
        padding-left:.3em;
        font-size: 11pt;
    }

    &.right-shift {transform: translateX(2%);}
}

.targeting-disc {
    opacity: 0.5;
    position: absolute;
    aspect-ratio: 1/1;
    width: 100px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index:10;
}

.crosshairs {
    position: absolute;
    z-index: 10;
    pointer-events: none;
    --ch-border-style: 1px solid var(--gold);
    
    .xhv {border-left:var(--ch-border-style);height:100%;width:1px;}
    .xhh {border-top:var(--ch-border-style);width:100%;height:0;}
}