<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>
    <link rel="stylesheet" href="./Board.css">
    <link rel="stylesheet" href="../../../style.css">
    <style>
        body {
            background: var(--dblue-steelblue);
            height:100vh;
            overflow-y: none;
        }
        main {height:100vh;}
    </style>
</head>
<body>
    <main id="root"></main>
    <script type="module">
        import {nav} from "../../../nav_dev.js";nav()
        import Board from "./Board.js"
        const board = new Board(document.getElementById('root'))
        board.render()
        board.mode('place-ships');
    </script>
</body>
</html>