* {
    --label-extents: 15px;
    --gold: #f9c31b;
    --blue: #13f;
    --midnight: #0f1e2f;
}
.show {display:block;}
.hide {display:none;}

body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: var(--dblue-steelblue);
    overflow: hidden;
}

.Board {
    margin: .5em auto;
    position: relative;
    max-width: 100vw;
    max-height: 95vh;
    aspect-ratio: 1/1;
    display: grid;
    grid-template:
        ". t-rows ." var(--label-extents) "m-rows-l m-board m-rows-r" 1fr
        ". b-rows ." var(--label-extents);
    color: white;
    /* border:1px solid green; */
    z-index:0;
}

.Board-grid-container {
    position: relative;
    aspect-ratio: 1/1;
    height: 100%;
    grid-area: m-board;
    border: 4px solid var(--cyan);
    border-radius: 6px;
    z-index:0;
}

.board-row {
    margin: 0;
    padding: 0;
    z-index:0;

    div {
        margin: 0;
        padding: 0;
        border: .5px solid var(--steelblue);
        display: inline-block;
        position: relative;
        width: calc(100% /26);
        font-size: .5em;
        aspect-ratio: 1/1;
        text-align: center;
        vertical-align: middle;
        color:transparent;
    }

    div:hover {
        cursor: pointer;
        background-color: #fff1;
    }
}

.Board header, .Board footer {
    font-size: 0.5em;
    margin: 0;
    padding: 0;
    z-index:0;

    div {
        display: inline-block;
        /* border:1px solid black; */
        width: calc(100% /26);
        /* aspect-ratio: 1/1; */
        text-align: center;
    }
}

.Board header {grid-area: t-rows;}
.Board footer {grid-area: b-rows;}

.Board aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 100%;
    width: var(--label-extents);
    font-size: 0.5em;
    z-index:10;

    div {
        display: block;
        /* border:1px solid black; */
        width: 100%;
        /* aspect-ratio: 1/1; */
        text-align: center;
        /* vertical-align: middle; */
    }
}

.targeting-brackets {
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    /* border: 1px solid red; */
    z-index:1;
    opacity: 0.5;
    
    svg {
        fill: var(--cyan);
        aspect-ratio: 1/1;
        /* width: clamp(200px, 400px, max(50vh, 50vw)); */
        width: 400px;
    }
    
    .bracket-node {
        position:absolute;
        width: 100px;
        height: 40px;
        transform: translate(-90%, 100px);
        background-color: var(--cyan);
        clip-path: polygon(0 2px, 2px 0, 38px 0, 40px 2px, 40px 18px, 100% 36px, 100% 38px, 40px 22px, 40px 38px, 38px 40px, 2px 40px, 0 38px);
        vertical-align: middle;
        padding-top:.5em;
        padding-left:.3em;
        font-size: 13pt;
    }
}

.targeting-disc {
    opacity: 0.5;
    position: absolute;
    aspect-ratio: 1/1;
    width: 100px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index:1;
}

.crosshairs {
    position: absolute;
    z-index: 10;
    pointer-events: none;
    --ch-border-style: 1px solid var(--gold);
    z-index:1;
}

.xhv {border-left:var(--ch-border-style);height:100vh;width:0;}
.xhh {border-top:var(--ch-border-style);width:100vw;height:0;}

.activeCell {background-color: var(--blue);}
.committedCell{background-color: var(--midnight);}