* {
    --label-extents: 15px;
}
.show2 {display:block;}
.hide2 {display:none;}

.Board2 {
    margin: .5em;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template:
        ". t-rows ." var(--label-extents) 
        "m-rows-l m-board m-rows-r" 100%
        ". b-rows ." var(--label-extents) / var(--label-extents) auto var(--label-extents);
    color: white;
    /* border:1px solid green; */
    z-index:0;
}

.Board-grid-container2 {
    position: relative;
    /* aspect-ratio: 1/1; */
    height: 100%;
    grid-area: m-board;
    border: 4px solid var(--cyan);
    border-radius: 6px;
    display:flex;
    flex-direction:column;
    justify-content: stretch;
    align-items: stretch;
    z-index:0;
}

.board-row2 {
    margin: 0;
    padding: 0;
    z-index:0;
    position: relative;
    flex-grow: 1;

    div {
        margin: 0;
        padding: 0;
        border: .5px solid var(--steelblue);
        display: inline-block;
        position: relative;
        width: calc(100% /26);
        height:100%;
        font-size: 3px;
        /* aspect-ratio: 1/1; */
        text-align: center;
        vertical-align: middle;
        color:transparent;
    }

    div:hover {
        cursor: pointer;
        background-color: #fff1;
    }
}

.Board2 header, .Board2 footer {
    font-size: 0.5em;
    margin: 0;
    padding: 0;
    z-index:0;

    div {
        display: inline-block;
        /* border:1px solid black; */
        width: calc(100% /26);
        /* aspect-ratio: 1/1; */
        text-align: center;
    }
}

.Board2 header {grid-area: t-rows;}
.Board2 footer {grid-area: b-rows;}

.Board2 aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 100%;
    width: var(--label-extents);
    font-size: 0.5em;
    color:var(--gold);
    z-index:10;

    & div {
        display: block;
        /* border:1px solid black; */
        width: 100%;
        /* aspect-ratio: 1/1; */
        text-align: center;
        /* vertical-align: middle; */
    }
}

.targeting-brackets2 {
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    /* border: 1px solid red; */
    z-index:1;
    opacity: 0.5;
    
    & svg {
        fill: var(--cyan);
        aspect-ratio: 1/1;
        /* width: clamp(200px, 400px, max(50vh, 50vw)); */
        width: 400px;
    }
    
    & .bracket-node2 {
        position:absolute;
        width: 100px;
        height: 40px;
        transform: translate(-90%, 100px);
        background-color: var(--cyan);
        clip-path: polygon(0 2px, 2px 0, 38px 0, 40px 2px, 40px 18px, 100% 36px, 100% 38px, 40px 22px, 40px 38px, 38px 40px, 2px 40px, 0 38px);
        vertical-align: middle;
        padding-top:.5em;
        padding-left:.3em;
        font-size: 13pt;
    }
}

.targeting-disc2 {
    opacity: 0.5;
    position: absolute;
    aspect-ratio: 1/1;
    width: 100px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index:1;
}

.crosshairs2 {
    position: absolute;
    z-index: 10;
    pointer-events: none;
    --ch-border-style: 1px solid var(--gold);
    z-index:1;
}

.xhv2 {border-left:var(--ch-border-style);height:100%;width:0;}
.xhh2 {border-top:var(--ch-border-style);width:100%;height:0;}

.activeCell2 {background-color: var(--blue);}
.committedCell2 {background-color: var(--midnight);}