body {
    margin:0;
    background: var(--dblue);
    background-size:cover;
    width:100wv;
    height:100hv;
    color:white;
    overflow: none;
}

.clickable:hover {cursor:pointer;}

main {
    pointer-events: all;
    position: absolute;
    width:100vw;
    height:100%;
    z-index: 10;
    display: grid;
    grid-template: 
        ". . . ." 10%
        ". p1 p2 . " auto
        ". . . . " 30% / 1fr 2fr 2fr 1fr;
    border: 1px solid magenta;

    #p2-board, #p1-board {
        position: relative;
        border:1px solid orange;
    }
    #p2-board {grid-area:p2;}
    #p2-board.rotate {transform:rotate(-90deg) translateY(80px);}
    #p1-board {grid-area:p1;}
    #p1-board.rotate {transform:rotate(90deg) translateY(80px);}
    /* .Board {margin-top:4.5% !important;} */
}

#db-text-overlay {
    pointer-events: all;
    position: absolute;
    inset:0;
    width: 100vw;
    height: 78vh;
    z-index: 2;
    margin-top:15px;
    padding:0 1%;
    /* border: 1px solid magenta; */
    display: grid block;
    grid-template-columns: 15% 13% auto 13% 15%;
    grid-template-rows: calc(50px - 1em) calc(30% - 50px) 36% 30%;
    gap: 1em 2em;
    grid-template-areas: 
        ". . header . . "
        "p1-summary . . . p2-summary"
        "p1-ships . . . p2-ships"
        "p1-status . . . p2-status";

    & .header {
        grid-area: header;
        font-size: 32pt;
    }

    #p1-summaryy-text-overlay {grid-area:p1-summary;}
    #p1-ships-text-overlay {grid-area:p1-ships;}
    #p1-status-text-overlay {grid-area:p1-status;}
    #p2-summary-text-overlay {grid-area:p2-summary;text-align: right;}

    #p2-ships-text-overlay {
        grid-area:p2-ships;
        text-align: right;

        & div {
            padding:1em;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap:.5em;
            max-height: 100%;
            border: 1px solid violet;

            /* & svg {border:1px solid var(--midnight);} */
            #enterprise, #enterprise-projection {width:80%;aspect-ratio: 2/1.5;}
            #titan, #titan-projection {width:60%;aspect-ratio: 2/1.5;}
            #wallenberg, #wallenberg-projection {width:40%;aspect-ratio: 2/1.8;}
            #lasirena, #lasirena-projection {width:30%;aspect-ratio: 1/1.6;}
            #shuttle, #shuttle-projection {width:20%;aspect-ratio: 1/1.2;}
        }

        & .ship {fill:var(--dblue);}

        & .projections {
            pointer-events: none;
            position: absolute;
            top:0;
            height:100%;
            width:100%;
            opacity:0;
            transition: opacity 600ms ease-out;

            & .project {position:absolute;opacity:1;}
        }
    }

    #p2-status-text-overlay {grid-area:p2-status;text-align: right;}

    & div {
        /* border:1px solid yellow; */
        position:relative;
        padding: 2%;
        color:var(--midnight);
    }
}

#db-grid-container {
    position:relative;
    background: linear-gradient(to bottom right, var(--dblue), var(--steelblue));
    background-size:cover;
    display: grid;
    width: 100vw;
    height: 100vh;
    border-radius:0 0 8em 0;
    grid-template-areas: "top" "bottom";
    grid-template-rows: 80% auto;

}

.show {display:block;}
.hide {display:none;}

#bracket-container {
    display: relative;
    padding:1em;
    grid-area: top;
    display:grid;
    grid-template-columns: 15% 15% auto 15% 15%;
    grid-template-rows: 30% auto 30%;
    gap: 1em;
    grid-template-areas: 
    "p1-summary p1-summary . p2-summary p2-summary"
    "p1-ships board board board p2-ships"
    "p1-status p1-status . p2-status p2-status";


}
.db-bracket {
    background: var(--cyan);
    & svg {fill:var(--cyan);z-index:0;}
}

#brkt-offence-summary {
    grid-area: p1-summary;
    background: transparent;
}
#brkt-p1-ships {
    grid-area: p1-ships;
}
#brkt-p1-stats {
    grid-area: p1-status;
    background: transparent;
}
#brkt-defence-summary {
    grid-area: p2-summary;
    background: transparent;
}
#brkt-p2-ships {
    grid-area: p2-ships;
}
#brkt-p2-stats {
    grid-area: p2-status;
    background: transparent;
}


#db-controls-grid {
    grid-area:bottom;
    display: grid;
    padding:0 1% 3% 1%;
    grid-template:"left center right" auto / 2fr 1fr 2fr;

    /* & div {border:1px solid green;} */

    .db-controls {
        display:flex;
        flex-wrap: wrap;
        width:100%;
        position:relative;
        gap: 1em 3em;
    }
    
    #attack-controls {
        grid-area: left;
        justify-content: flex-start;
    }
    
    #game-controls {
        grid-area: right;
        justify-content: flex-end;
    }
    
    & .center {
        grid-area:center;
        display:grid;
        gap: 1em;
        grid-template: 
            "l1 m r1" 33.33%
            "l2 m r2" 33.33%
            "l3 bm2 r3" 33.33% / auto auto auto;
    
        & div:nth-child(1) {grid-area:l1;}
        & div:nth-child(2) {grid-area:l2;}
        & div:nth-child(3) {grid-area:l3;}

        & .status-list-item {
            display:grid;
            grid-template:"pill title num" auto / auto 2fr 1fr;
            gap:6px;
            font-size: 10pt;
            position: relative;

            & .pill {width:20px;border-radius:3px;grid-area:pill;}
            & .title {font-size:1em;grid-area:title;}
            & .num {font-size: 2em;grid-area:num;}
        }
    }
    
}

.tile-btn {
    border:none;
    padding:3px;
    width:175px;
    height:60px;
}