body {
    margin:0;
    background: var(--dblue);
    background-size:cover;
    width:100wv;
    height:100hv;
    color:white;
}

#db-grid-container {
    position:relative;
    background: linear-gradient(to bottom right, var(--dblue), var(--steelblue));
    background-size:cover;
    display: grid;
    width: 95vw;
    height: 95vh;
    border-radius:0 0 8em 0;
    grid-template-areas: "top" "bottom";
    grid-template-rows: 80% auto;
}

#bracket-container {
    display: relative;
    padding:1em;
    grid-area: top;
    display:grid;
    grid-template-columns: 15% 15% auto 15% 15%;
    grid-template-rows: 30% auto 30%;
    gap: 1em;
}

.db-bracket {
    background: cyan;
    fill: var(--cyan);
}

#brkt-offence-summary {
    grid-column: 1/3;
    grid-row: 1/2;
    background: transparent;
}
#brkt-enemy-ships {
    grid-column: 1/2;
    grid-row: 2/3;
}
#brkt-enemy-stats {
    grid-column: 1/3;
    grid-row: 3/4;
    background: transparent;
}
#brkt-defence-summary {
    grid-column: 4/6;
    grid-row: 1/2;
    background: transparent;
}
#brkt-usr-ships {
    grid-column: 5/6;
    grid-row: 2/3;
}
#brkt-usr-stats {
    grid-column: 4/6;
    grid-row: 3/4;
    background: transparent;
}