* {
    box-sizing: border-box;
}
body {
    width:100vw;
    height:100vh;
    margin:0 auto;
        background-color: var(--midnight);
        color: aliceblue;
}

main {
    width:100vw;
    height:100vh;
    /* background-color: var(--midnight); */
}

ul {padding-inline-start:0;padding:12px}
li {
    color:black;
    list-style:none;
    
    & label {
        display:grid;
        grid-template:"pill prompt" auto / auto 1fr;
        gap:6px;
    }

    & input[type=radio] {display:none;}

    & div {
        display:inline-block;
        padding:12px 6px;
    }

    & .pill {
        grid-area:pill;
        width:25px;
        border-radius:3px;
        text-align: center;
        margin:6px; margin-right:0;
    }
    
    & .option-text {
        grid-area:prompt;
        background-color: var(--dustycyan);
        margin: 6px;
    }
}

li:hover .option-text {background-color: var(--blue);cursor:pointer;}
li:has(input[type=radio]:checked)  {border:1px solid var(--gold)};
