body {
    height: 100vh;
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}

#registration-modal {
    width:980px;
    border: 1px solid var(--gold);
    background: var(--dblue-steelblue);
    color:white;
    padding:3em;
    box-shadow: 0 0 30px #023a;


    display:flex;
    flex-direction: column;
    justify-self: center;
    justify-content: flex-start;
    gap:2em;

    h1 {color:var(--cyan);}
    h2 {color:var(--dustycyan);}

    & input[type=text], input[type=password] {
        width:100%;
        height:3em;
        background-color: var(--midnight);
        font-weight: 500;
        color:white;
        border:.5px solid var(--gold);
        padding:3px 6px;
        margin:6px 0 18px 0;
    }

    #modal-user-info label span {
        font-size: 10pt;
        font-weight: 300;
        color: #999;
    }

    #modal-choose-side > div {
        display:flex;
        flex-direction: row;
        justify-content: center;
        gap: 20%;

        & div input[type=radio] {display:none;}
        & div {padding:1em;border-radius: 3px;}
        & div:has(input[type=radio]:checked) {
            border: 1px solid var(--gold);
        }
    }

    & button {height:4em;border: none;}
}